@import "variables";
@import "mixins";

.excel__table {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: scroll;
    padding-bottom: 2px;
    height: calc(100vh - #{$header-height + $toolbar-height + $formula-height});

    .row {
        display: flex;
        min-height: 20px;
        height: $row-height;
        position: relative;

        &:first-child {
            position: sticky;
            top: 0;
            z-index: 1;
            padding-left: 40px;

            .row-info {
                position: fixed;
                top: calc(#{$header-height + $toolbar-height + $formula-height});
                z-index: 3;
                height: 24px;
            }
        }
    }

    .row-info {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        background: #f8f9fa;
        border-top: none;
        position: sticky;
        left: 0;
        user-select: none;
    }

    .row-data {
        display: flex;
    }


    .column {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f8f9fa;
        min-width: 40px;
        width: $cell-width;
        border: 1px solid $border-color;
        height: 100%;
        border-left: none;
        border-top: none;
        position: relative;
        user-select: none;
    }

    .cell {
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-left: none;
        border-top: none;
        white-space: nowrap;
        color: #111;
        outline: none;

        &.selected {
            border: none;
            outline: 2px solid #3c74ff;
            z-index: 100;
        }
    }

    .col-resize {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 4px;
        background: #15a513;
        opacity: 0;
        z-index: 2;
        
        &:hover {
            opacity: 1;
            cursor: col-resize;
            left: auto
        }
        &:active {
            height: 100vh;
            width: 2px;
        }
    }

    .row-resize {
        position: absolute;
        bottom: 0;
        height: 2px;
        background: #15a513;
        opacity: 0;
        width: 40px;
        z-index: 2;
        &:hover{
            opacity: 1;
            cursor: row-resize;
        }
        &:active {
            width: 100vw;
        }

    }
}   